<div class="login">
    <div class="login-image">
        <img src="assets/images/login-bg.png" alt="">
    </div>
    <div class="login-block">
        <div class="login-form">
            <div class="login-form-title">
                <h1>Bem-vindo ao <span>dev</span>TimeTracker! <span class="pi pi-clock"></span></h1>
                <h3>Seu <span>tempo</span>, seu <span>trabalho</span>, sua <span>eficiência</span>.</h3>
            </div>
            <form [formGroup]="loginForm">
                <span class="font-bold block mb-2">Email</span>
                <div class="icon-input">
                    <span class="pi pi-at"></span>
                    <input type="text" pInputText placeholder="Insira o seu email aqui" formControlName="email"/>
                </div> 
                <span class="font-bold block mb-2">Senha</span>
                <div class="icon-input">
                    <span class="pi pi-lock"></span>
                    <p-password placeholder="Insira a sua senha aqui" [feedback]="false" [toggleMask]="true" formControlName="password"/>
                </div>
                <app-login-button (isValid)="login($event)"/>
            </form>
        </div>
    </div>
</div>