.p-menubar {
    background: #e0e3f0;
    border: none;
    border-radius: 0;

    p-menubarsub {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        

        .p-menuitem-icon{
            color: #353E6C;
            font-weight: 500;
        }
        .p-menuitem-text {
            color: #353E6C;
            font-weight: 500;
        }
    }

    a.p-menubar-button{
        order: 3;
    }
}