$primary-color: #0a2fb6;

$font-family: 'Poppins', sans-serif;
$font-primary-color: #353e6c;
$font-secondary-color: #baccfd;
$font-tertiary-color: #A3AED0;

$background-primary-color: #f4f5f7;
$background-secondary-color: #e0e3f0;
$background-tertiary-color: #e5e7eb;
